<mat-toolbar color="primary" class="mat-elevation-z2">
    <span>My Library</span>
    <span fxFlex="1 1 auto"></span>

    <button mat-button routerLink="list-books">Home</button>
    <button mat-button routerLink="register-book">Novo Livro</button>
</mat-toolbar>

<div style="margin-top: 20px">
    <router-outlet></router-outlet>
</div>