<h1 mat-dialog-title>
    {{book.title}}
</h1>

<mat-dialog-content>
    <p style="margin-top: 5px;">
        {{book.author}}
    </p>

    <p>{{book.summary}}</p>

    <p>
        {{book.pages}} páginas <br />
        {{book.edition}}ª edição - {{book.publicationYear}}
    </p>

    <p>
        Editora {{book.publisher}} <br />
        ISBN: {{book.isbn}}
    </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>