<div fxLayout="row" fxLayoutAlign="space-around center">
    <form [formGroup]="formBook" fxLayout="column" fxLayoutGap="20px" fxFlex="90%" fxFlex.md="50%" fxFlex.lg="40%" fxFlex.xl="30%">

        <div fxLayout="row">
            <mat-form-field fxFlex="70%">
                
                <mat-label>Título</mat-label>
                <input matInput type="text" formControlName="title" />  
                
                <mat-error *ngIf="title.touched && title.errors?.required">
                    Informe o título!
                </mat-error>  
            
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">

            <mat-form-field fxFlex="50%">
                <mat-label>Autor</mat-label>
                <mat-select formControlName="author">
                    <mat-option *ngFor="let a of authors" [value]="a.id">{{a.name}}</mat-option>
                </mat-select>

                <mat-error *ngIf="author.touched && author.errors?.required">
                    Informe o autor!
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="50%">
                <mat-label>Editora</mat-label>
                <mat-select formControlName="publisher">
                    <mat-option *ngFor="let p of publishers" [value]="p.id">{{p.name}}</mat-option>
                </mat-select>

                <mat-error *ngIf="publisher.touched && publisher.errors?.required">
                    Informe a editora!
                </mat-error>
            </mat-form-field>

        </div>

        <mat-form-field>
            <mat-label>Sinopse</mat-label>
            <textarea matInput cols="40" rows="5" formControlName="summary"></textarea>    
            <mat-error *ngIf="summary.touched && summary.errors?.required">
                Informe o resumo!
            </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="50%">
                <mat-label>Edição</mat-label>
                <input matInput type="number" min="1" formControlName="edition" />
                <mat-error *ngIf="edition.touched && edition.errors?.required">
                    Informe a edição!
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="50%">
                <mat-label>Ano de publicação</mat-label>
                <input matInput type="number" min="1" formControlName="publicationYear" />
                <mat-error *ngIf="publicationYear.touched && publicationYear.errors?.required">
                    Informe o ano de publicação!
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="50%">
                <mat-label>ISBN</mat-label>
                <input matInput type="number" min="1" formControlName="isbn" />
                
                <mat-error *ngIf="isbn.touched && isbn.errors?.required">
                    Informe o ISBN!
                </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="50%">
                <mat-label>Páginas</mat-label>
                <input matInput type="number" min="1" formControlName="pages" />

                <mat-error *ngIf="pages.touched && pages.errors?.required">
                    Informe o número de páginas!
                </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <button type="button" mat-raised-button color="primary" [disabled]="formBook.invalid" (click)="save()">Salvar</button>
            <button type="button" mat-raised-button (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>