<form fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" [formGroup]="formSearch">

    <mat-form-field>
        <mat-select formControlName="searchType">
            <mat-option [value]="1">Por Título</mat-option>
            <mat-option [value]="2">Por ISBN</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="auto">
        <mat-label>Texto da pequisa</mat-label>
        <input matInput formControlName="searchText" />
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="formSearch.invalid" (click)="search()">Pesquisar</button>

    <button mat-raised-button type="button" (click)="clearSearch()">Limpar</button>
</form>

