<div fxLayout="row" fxLayoutAlign="space-around">
    <div fxLayout="column" fxFlex.lt-lg="auto" fxFlex="80%">
        <app-search-bar (onSearch)="searchBook($event)" (onClear)="findBooks()"></app-search-bar>

        <table mat-table [dataSource]="books">

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef width="30%">Título</th>
                <td mat-cell *matCellDef="let book">
                    <a mat-flat-button (click)="showDetails(book.id)">{{book.title}}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef width="25%">Autor</th>
                <td mat-cell *matCellDef="let book">{{book.author}}</td>
            </ng-container>

            <ng-container matColumnDef="publisher">
                <th mat-header-cell *matHeaderCellDef width="20%">Editora</th>
                <td mat-cell *matCellDef="let book">{{book.publisher}}</td>
            </ng-container>

            <ng-container matColumnDef="edition">
                <th mat-header-cell *matHeaderCellDef width="10%">Edição</th>
                <td mat-cell *matCellDef="let book">{{book.edition}}</td>
            </ng-container>
        
            <ng-container matColumnDef="isbn">
                <th mat-header-cell *matHeaderCellDef width="10%">ISBN</th>
                <td mat-cell *matCellDef="let book">{{book.isbn}}</td>
            </ng-container>
        
            <ng-container matColumnDef="year">
                <th mat-header-cell *matHeaderCellDef width="5%">Ano</th>
                <td mat-cell *matCellDef="let book">{{book.publicationYear}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="colsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: colsToDisplay"></tr>

        </table>
    </div>

</div>